@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  p {
    font-weight: 100;
  }

  /* Swiper
------------------------------------------------------------- */
  /* testimonial section style */
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: rgb(175, 6, 6);
  }

  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
  }

}